<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <div th:replace="layout/fragment/head :: head"></div>
</head>
<body>
<div id="app">
    <div th:replace="layout/fragment/side-bar :: side-bar"></div>
    <section layout:fragment="custom-content"></section>
</div>
<div th:replace="layout/fragment/script :: script"></div>
<th:block layout:fragment="javascript-extra"></th:block>
</body>
</html>