<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="layout/layout-padrao">

<section layout:fragment="custom-content">
    <div id="main">
        <div class="page-heading">
            <div class="page-title">
                <div class="row">
                    <div class="col-12 col-md-6 order-md-1 order-last">
                        <h3>Lançamento</h3>
                        <p class="text-subtitle text-muted">Cadastro de Lançamento</p>
                    </div>
                    <div class="col-12 col-md-6 order-md-2 order-first">
                        <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a th:href="@{/index}">Inicio</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Cadastro Lançamento</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <section id="multiple-column-form">
                <div class="row match-height">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Cadastro</h4>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <form class="form" th:action="@{/lancamento/cadastro}" th:object="${lancamento}" method="post">
                                        <div class="row">
                                            <div class="col-md-3 mb-4">
                                                <fieldset class="form-group">
                                                    <label for="tipoSelect">Tipo</label>
                                                    <select th:field="${lancamento.tipo}" class="form-select" id="tipoSelect">
                                                        <option value="">Escolha o Tipo</option>
                                                        <option th:each="tipo : ${tipos}"
                                                                th:value="${tipo}"
                                                                th:text="${tipo}">
                                                        </option>
                                                    </select>
                                                </fieldset>
                                            </div>
                                            <div class="col-md-3 mb-4">
                                                <fieldset class="form-group">
                                                    <label for="casaSelect">Casa</label>
                                                    <select th:field="${lancamento.casa}" class="form-select" id="casaSelect">
                                                        <option value="">Escolha a Casa</option>
                                                        <option th:each="casa : ${casas}"
                                                                th:value="${casa.id}"
                                                                th:text="${casa.nome}">
                                                        </option>
                                                    </select>
                                                </fieldset>
                                            </div>
                                            <div class="col-md-3 mb-4">
                                                <fieldset class="form-group">
                                                    <label for="tipoCatSelect">Tipo Categoria</label>
                                                    <select class="form-select" id="tipoCatSelect">
                                                        <option value="">Escolha a Categoria</option>
                                                        <option th:each="tipo : ${tiposCategoria}"
                                                                th:value="${tipo.id}"
                                                                th:text="${tipo.nome}">
                                                        </option>
                                                    </select>
                                                </fieldset>
                                            </div>
                                            <div class="col-md-2 mb-4">
                                                <fieldset class="form-group">
                                                    <label for="catLancSelect">Categoria Lançamento</label>
                                                    <select th:field="${lancamento.categoria}" class="form-select" id="catLancSelect">
                                                        <option value="">Escolha a Categoria</option>
                                                        <option th:each="categoria : ${categorias}"
                                                                th:value="${categoria.id}"
                                                                th:text="${categoria.nome}">
                                                        </option>
                                                    </select>
                                                </fieldset>
                                            </div>
                                            <div class="col-md-1 mb-4 form-group">
                                                <label for="novoForm">Novo</label>
                                                <div class="buttons" id="novoForm">
                                                    <a href="#" class="btn btn-info rounded-pill">+</a>
                                                </div>
                                            </div>
                                            <div class="col-md-3 mb-4">
                                                <fieldset class="form-group">
                                                    <label for="bancoSelect">Banco</label>
                                                    <select class="form-select" id="bancoSelect">
                                                        <option value="">Escolha o Banco</option>
                                                        <option th:each="conta : ${contas}"
                                                                th:value="${conta.id}"
                                                                th:text="${conta.banco.nome}">
                                                        </option>
                                                    </select>
                                                </fieldset>
                                            </div>
                                            <div class="col-md-3 mb-4">
                                                <fieldset class="form-group">
                                                    <label for="contaSelect">Conta</label>
                                                    <select th:field="${lancamento.conta}" class="form-select" id="contaSelect">
                                                        <option value="">Escolha o Banco</option>
                                                        <option th:each="conta : ${contas}"
                                                                th:value="${conta.id}"
                                                                th:text="${conta.conta}">
                                                        </option>
                                                    </select>
                                                </fieldset>
                                            </div>
                                            <div class="col-md-3 col-12">
                                                <div class="form-group">
                                                    <label for="first-qtd-column">Quantidade</label>
                                                    <input type="text" id="first-qtd-column" class="form-control"
                                                           placeholder="Quantidade" name="quantidade" th:field="${lancamento.quantidade}">
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-12">
                                                <div class="form-group">
                                                    <label for="first-valor-column">Valor</label>
                                                    <input type="text" id="first-valor-column" class="form-control"
                                                           placeholder="Valor" name="valor" th:field="${lancamento.valor}">
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-12">
                                                <div class="form-group">
                                                    <label for="exampleFormControlTextarea1" class="form-label">Descrição</label>
                                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                                              name="descricao" th:field="${lancamento.descricao}"></textarea>
                                                </div>
                                            </div>

                                            <div class="col-12 d-flex justify-content-end">
                                                <button type="submit" class="btn btn-primary me-1 mb-1">Salvar</button>
                                                <button type="reset" class="btn btn-light-secondary me-1 mb-1">Cancelar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section">
                <div class="row" id="basic-table">
                    <div class="col-12 col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">lista de lançamentos</h4>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <!-- table with outer spacing -->
                                    <div class="table-responsive">
                                        <table class="table table-lg">
                                            <thead>
                                            <tr>
                                                <th>tipo</th>
                                                <th>data</th>
                                                <th>casa</th>
                                                <th>categoria lançamento</th>
                                                <th>valor</th>
                                                <th>descricao</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="lancamento : ${lancamentos}" class="border_bottom">
                                                <td th:text="${lancamento.tipo}" class="text-bold-500"></td>
                                                <td th:text="${lancamento.data}" class="text-bold-500"></td>
                                                <td th:text="${lancamento.casa.nome}" class="text-bold-500"></td>
                                                <td th:text="${lancamento.categoria.nome}" class="text-bold-500"></td>
                                                <td th:text="${lancamento.valor}" class="text-bold-500"></td>
                                                <td th:text="${lancamento.descricao}" class="text-bold-500"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div th:replace="categoria/cadastor_rapido_categoria :: modal"></div>
        </div>
    </div>

</section>
<th:block layout:fragment="javascript-extra">
    <script th:src="@{/javascript/categoria-cadastro-rapido.js}"></script>
</th:block>
</html>