<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<section th:fragment="script">
    <script th:src="@{/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/assets/vendors/apexcharts/apexcharts.js}"></script>
    <script th:src="@{/assets/js/pages/dashboard.js}"></script>
    <script th:src="@{/assets/js/mazer.js}"></script>
</section>
</html>