<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<section th:fragment="side-bar">
    <div id="sidebar" class="active">
        <div class="sidebar-wrapper active">
            <div class="sidebar-header">
                <div class="d-flex justify-content-between">
                    <div class="logo">
                        <a href="index.html"><img th:src="@{/assets/images/logo/logo.png}" alt="Logo" srcset=""></a>
                    </div>
                    <div class="toggler">
                        <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                    </div>
                </div>
            </div>
            <div class="sidebar-menu">
                <ul class="menu">
                    <li class="sidebar-title">Menu</li>

                    <li
                            class="sidebar-item active ">
                        <a th:href="@{/index}" class='sidebar-link'>
                            <i class="bi bi-grid-fill"></i>
                            <span>Inicio</span>
                        </a>
                    </li>

                    <li
                            class="sidebar-item  has-sub">
                        <a href="#" class='sidebar-link'>
                            <i class="bi bi-stack"></i>
                            <span>Cadastro</span>
                        </a>
                        <ul class="submenu ">
                            <li class="submenu-item ">
                                <a th:href="@{/banco}">Banco</a>
                            </li>
                            <li class="submenu-item ">
                                <a th:href="@{/conta}">Conta</a>
                            </li>
                            <li class="submenu-item ">
                                <a th:href="@{/categoria}">Categoria</a>
                            </li>
                            <li class="submenu-item ">
                                <a th:href="@{/lancamento}">Lançamento</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
        </div>
    </div>
</section>
</body>
</html>