<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="layout/layout-padrao">

<section layout:fragment="custom-content">
    <div id="main">
        <div class="page-heading">
            <div class="page-title">
                <div class="row">
                    <div class="col-12 col-md-6 order-md-1 order-last">
                        <h3>Parceria</h3>
                        <p class="text-subtitle text-muted">Cadastro de Parceria</p>
                    </div>
                    <div class="col-12 col-md-6 order-md-2 order-first">
                        <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a th:href="@{/index}">Inicio</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Cadastro Parceria</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <section id="multiple-column-form">
                <div class="row match-height">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Cadastro</h4>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <form class="form" th:action="@{/parceria/cadastro}" method="post">
                                        <div class="row">
                                            <div class="col-md-4 col-12">
                                                <div class="form-group">
                                                    <label for="first-name-column">Nome</label>
                                                    <input type="text" id="first-name-column" class="form-control"
                                                           placeholder="Nome" name="nome">
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-12">
                                                <div class="form-group">
                                                    <label for="first-rua-column">Percentual</label>
                                                    <input type="text" id="first-rua-column" class="form-control"
                                                           placeholder="Percentual" name="percentual">
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-12">
                                                <div class="form-group">
                                                    <label for="first-bairro-column">Valor Investido</label>
                                                    <input type="text" id="first-bairro-column" class="form-control"
                                                           placeholder="Valor Investido" name="valorInvestido">
                                                </div>
                                            </div>
                                            <div class="col-12 d-flex justify-content-end">
                                                <button type="submit" class="btn btn-primary me-1 mb-1">Salvar</button>
                                                <button type="reset" class="btn btn-light-secondary me-1 mb-1">Cancelar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section">
                <div class="row" id="basic-table">
                    <div class="col-12 col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Lista de Lançamentos</h4>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <!-- Table with outer spacing -->
                                    <div class="table-responsive">
                                        <table class="table table-lg">
                                            <thead>
                                            <tr>
                                                <th>Nome</th>
                                                <th>Percentual</th>
                                                <th>Valor Investido</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="parceria : ${parcerias}" class="border_bottom">
                                                <td th:text="${parceria.nome}" class="text-bold-500"></td>
                                                <td th:text="${parceria.percentual}" class="text-bold-500"></td>
                                                <td th:text="${parceria.valorInvestido}" class="text-bold-500"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
</html>